/**     http://nicolasgallagher.com/micro-clearfix-hack/
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}

/********** MY CSS **********/

html, body {
    height: 100%;
    font-family: open sans condensed;
}

#wrapper {
    min-height: 100%;
    margin-bottom: 130px;
}

body {
    background-color: #399676;
    color: #FFFFFF;
}

body header.proj-title {
    background-color: #28755B;
    padding: 20px 0;
}

body header.proj-title h1 {
    text-align: center;
    font-size: 2.8em;
    margin: 0;
}

body header.proj-title h1 a:visited,
body header.proj-title h1 a:link {
    color: white;
    text-decoration: none;
}

/* Footer */
footer {
    clear: both;
    height: 100px;
    margin-top: -100px; 
    background-color: #28755B;  
    font-size: 1.4em;
}

footer h3 {
    padding: 8px;
}

/* All form submit buttons */
input[type = "submit"] {
    width: 120px;
    display: block;
    margin: 10px auto;
    border-radius: 12px;
    background-color: black;
    color: white;
    font-size: 1.2em;
    border: white;
    padding: 6px;
}

/* .input-form form --> Login / Registration / Reset PW Forms */
.input-form {   
    width: 960px;
    margin: 0 auto;
    padding-bottom: 0px;
}

.input-form h1 {
    margin: 0 auto;
    text-align: center;
    padding: 10px 0;
    font-size: 3.6em;
}

.input-form form div {
    width: 300px;
    margin: 0 auto;
    padding: 4px 0;
}

.input-form form div input {
    display: block;
    width: 250px;
    margin: 10px auto;
}

.input-form form div label {
    display: block;
    width: 250px;
    margin: 0 auto;
    font-size: 2em;
}

.input-form form h5 {
    width: 300px;
    text-align: center;
    margin: 0 auto;
    padding: 10px 0;
}

.input-form form p {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 1.6em;
}

.input-form form ul {
    width: 280px;
    margin: 0 auto;
    font-size: 1.2em;
}

.input-form form ul li {
    padding: 4px 0;
    font-size: 1.2em;
}

.input-form form h5 {
    font-size: 1.6em;
}

.input-form form h5 a:link, .input-form form h5 a:visited {
    color: #06328A;
}

/* Error / Success messages to display after registration, password reset (server side validation) */
#form-response-message {
    width: 960px;
    margin: 16px auto;
    text-align: center;
}

#form-response-message p {  
    font-size: 1.8em;
    padding: 8px 0;
    color: #B6C8E0;
    text-align: center;     
    margin: 0;
}

#form-response-message a:link, #form-response-message a:visited  {
    color: #154D96;
    font-size: 1.6em;
}

/* Error / Success messages to display after registration, password reset (client side validation) */
.client-form-reponse p {
    color: #B6C8E0;
}

/* User account page main */
header.user {
    border-bottom: 2px solid black;
}

header.user h1 {
    display: inline-block;
    font-size: 2.4em;
    margin: 0 0 0 40px;
    padding: 12px;
}

header.user nav {
    display: inline-block;
    margin-right: 40px;
    float: right;
}

header.user nav ul {
    margin: 0;
    padding: 0;
}

header.user nav ul li {
    display: inline-block;
    padding: 10px;
    font-size: 2.6em;
    margin-left: 40px;
}

header.user nav ul li a {
    text-decoration: none;
}

header.user nav ul li a:link {
    color: white;
}

header.user nav ul li a:visited {
    color: white;
}

table#portfolio-table {
    display: block;
    width: 450px;
    margin: 30px auto;
}

table#portfolio-table th, table#portfolio-table td {
    padding: 8px;
    text-align: center;
    font-size: 1.6em;
    width: 150px;
    border: 1px solid black;
}

#user-assets {
    padding: 10px;
    text-align: center;
    font-size: 2.2em;
}

/* USER PAGE MAIN */
#user-details #user-header {
    width: 960px;
    margin: 10px auto;
    font-size: 1.2em;
    text-align: center;
}

#user-details form {
    width: 960px;
    margin: 0 auto;
}

#user-details form div {
    width: 340px;
    margin: 0 auto;
}

#user-details form  div p {
    font-size: 1.8em;
    text-align: center;
    margin: 0;
    padding: 8px 0;
}

#user-details form div input[type='text'] {
    display: block;
    margin: 10px auto;
    width: 300px;   
}

 /* Get Quote Div */
#get-quote {
    background-color: #1DCFBA;
    padding: 0;
}

#get-quote .get-quote-error {
    color: black;
    margin: 10px 0;
}

 /* Buy Stock Div */
#stock-purchase {
    background-color: #CCA508;
    padding: 0;
}

#stock-purchase .stock-purchase-error {
    color: black;
    margin: 10px 0;
}

 /* Sell Stock Div */
#stock-sell {
    background-color: #2086C9;
    padding: 0;
}

#stock-sell .stock-sell-error {
    color: black;
    margin: 10px 0;
}
